

.App, .localTime {
    margin: auto;
    color: rgb(36, 36, 163);
    text-align: center;
    font-weight: bolder;
    height: 100px;
    width: 500px;
    align-items: center;
}

.localTime{
    border: 2px solid rgb(108, 39, 173);
    height: 160px;
    width: 550px;
    background-color: rgb(186, 186, 226);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
<<<<<<< HEAD
}
=======
}
>>>>>>> ec36b3e699ae56f22bd0beacadd631d659131c70
